.ContainerFlyingPosters {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 500;
}

.posters-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.posters-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
