---
import { baseUrl } from '@/utils/functions';
import { lengthOfProjects } from '@/utils/data';
const title = `${lengthOfProjects} Designs With Canva - Part 2`;
const logo = baseUrl('/assets/canva-isotopic-logo.svg');
const logo2 = baseUrl('/assets/scroll-img.png');
---

<section class='am-hero'>
  <h1>
    {lengthOfProjects} Designs With <img
      src={logo}
      alt='Logo'
      class='am-logo'
    />anva - Part 2
  </h1>

  <img src={logo2} alt='Logo' class='am-logo-scroll' />
</section>
<style>
  .am-hero {
    height: 100vh;
    position: relative;
    pointer-events: none;
    display: grid;
    place-items: center;
  }

  h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 4vmax;
    line-height: 1;
    margin: 0;
    color: hsl(293, 32%, 84%);
    text-align: center;
    letter-spacing: 0.039vmax;
    --light-pos-x: 1.5;
    --light-pos-y: -1.5;
    --rim-size: 0.01vmax;
    --shadow-offset: 0.104vmax;
    --shadow-blur: 0.052vmax;

    text-shadow:
      calc(max(var(--rim-size), 0.065vmax) * var(--light-pos-x))
        calc(max(var(--rim-size), 0.065vmax) * var(--light-pos-y))
        hsl(307, 79%, 55%),
      calc(max(var(--rim-size), 0.065vmax) * var(--light-pos-x) * -1)
        calc(max(var(--rim-size), 0.065vmax) * var(--light-pos-y) * -1)
        hsl(270, 56%, 50%),
      calc(var(--shadow-offset) * var(--light-pos-x) * -1)
        calc(var(--shadow-offset) * var(--light-pos-y) * -1) var(--shadow-blur)
        hsl(0 0% 50% / 0.75);
  }

  .am-logo {
    width: 4vmax;
    position: relative;
    top: 0.6vmax;
  }

  .am-logo-scroll {
    width: 7vmax;
    position: absolute;
    right: 1.5vmax;
    bottom: 1.5vmax;
    border-radius: 0.5vmax;
    overflow: hidden;
    mix-blend-mode: overlay;
  }
</style>
